In [1]:
import pandas as pd

In [2]:
df = pd.read_json("datos/alumnos_calif.json")
df

,clave_alu,ap_paterno,ap_materno,nombre,sexo,ciudad,email,calificacion,curp
0,11030172,BORBOLLA,RAMOS,ARGELIA,F,QUERETARO,argi_gogos@email.com,5.0,NaN
1,11030173,CASTRO,MANCERA,KARLA MARIANA,F,GUADALAJARA,NaN,8.7,NaN
2,11030177,FERRUSCA,ANDRADE,OCTAVIO,M,SANTIAGO DE QUERETARO,tavoferrus_11@email.com,7.3,NaN
3,11030178,GARCIA,GOMEZ,RAFAEL,M,QUERETARO QRO.,NaN,5.0,NaN
4,11030180,GUTIERREZ,FLORES,CARLOS DAVID,M,QUERETARO,chorok_skp91@email.com,5.0,GUFC920124HPPTLR04
5,11030183,JIMENEZ,CARRILLO,RAMON HUMBERTO,F,GUADALAJARA,ramono555@himail.com,6.2,JICR920403HSPMRM07
6,11030188,MARTINEZ,RIVERA,JAVIER JOSUE,M,NaN,marka@email.com,8.0,MARJ930622HQTRVV01
7,11030199,ROSALES,APREZA,NESTOR MARTIN,M,QUERETARO,nestoriwh@hotmai.com,5.0,NaN
8,11030201,SUAREZ,SANCHEZ,ROCIO,F,QUERETARO,ossuarez@aol.com,NaN,SUSO911025MDFRNS02
9,11030204,VAZQUEZ,GONZALEZ,ROBERTO,NaN,QUERETARO,rob_vaz03@email.com,9.7,VAGR900708HQTRNS02
10,14080001,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN
11,14080002,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN
12,14080003,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN

In [3]:
df['estado'] = df.curp.str[11:13]
df['gpa'] = (((df['calificacion']*100)/df['calificacion'].max())/20) -1
gpa_rango = [1, 1.7, 2.4, 3.3, 4.1]
gpa_etiqueta = ['D', 'C', 'B', 'A']
df['gpa_escala'] = pd.cut(df['gpa'], bins=gpa_rango, labels=gpa_etiqueta)
sti = pd.date_range('2023-01-01', periods=df.clave_alu.count(), freq='2m')
df['fecha'] = sti
df

,clave_alu,ap_paterno,ap_materno,nombre,sexo,ciudad,email,calificacion,curp,estado,gpa,gpa_escala,fecha
0,11030172,BORBOLLA,RAMOS,ARGELIA,F,QUERETARO,argi_gogos@email.com,5.0,NaN,NaN,1.577320,D,2023-01-31
1,11030173,CASTRO,MANCERA,KARLA MARIANA,F,GUADALAJARA,NaN,8.7,NaN,NaN,3.484536,A,2023-03-31
2,11030177,FERRUSCA,ANDRADE,OCTAVIO,M,SANTIAGO DE QUERETARO,tavoferrus_11@email.com,7.3,NaN,NaN,2.762887,B,2023-05-31
3,11030178,GARCIA,GOMEZ,RAFAEL,M,QUERETARO QRO.,NaN,5.0,NaN,NaN,1.577320,D,2023-07-31
4,11030180,GUTIERREZ,FLORES,CARLOS DAVID,M,QUERETARO,chorok_skp91@email.com,5.0,GUFC920124HPPTLR04,PP,1.577320,D,2023-09-30
5,11030183,JIMENEZ,CARRILLO,RAMON HUMBERTO,F,GUADALAJARA,ramono555@himail.com,6.2,JICR920403HSPMRM07,SP,2.195876,C,2023-11-30
6,11030188,MARTINEZ,RIVERA,JAVIER JOSUE,M,NaN,marka@email.com,8.0,MARJ930622HQTRVV01,QT,3.123711,B,2024-01-31
7,11030199,ROSALES,APREZA,NESTOR MARTIN,M,QUERETARO,nestoriwh@hotmai.com,5.0,NaN,NaN,1.577320,D,2024-03-31
8,11030201,SUAREZ,SANCHEZ,ROCIO,F,QUERETARO,ossuarez@aol.com,NaN,SUSO911025MDFRNS02,DF,NaN,NaN,2024-05-31
9,11030204,VAZQUEZ,GONZALEZ,ROBERTO,NaN,QUERETARO,rob_vaz03@email.com,9.7,VAGR900708HQTRNS02,QT,4.000000,A,2024-07-31
10,14080001,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN,NaN,1.577320,D,2024-09-30
11,14080002,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN,NaN,1.577320,D,2024-11-30
12,14080003,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN,NaN,1.577320,D,2025-01-31

In [5]:
df.isnull().sum()

clave_alu       0
ap_paterno      0
ap_materno      0
nombre          0
sexo            4
ciudad          4
email           5
calificacion    1
curp            8
estado          8
gpa             1
gpa_escala      1
fecha           0
dtype: int64

In [6]:
df_na = df.copy()
df_na.dropna()

,clave_alu,ap_paterno,ap_materno,nombre,sexo,ciudad,email,calificacion,curp,estado,gpa,gpa_escala,fecha
4,11030180,GUTIERREZ,FLORES,CARLOS DAVID,M,QUERETARO,chorok_skp91@email.com,5.0,GUFC920124HPPTLR04,PP,1.577320,D,2023-09-30
5,11030183,JIMENEZ,CARRILLO,RAMON HUMBERTO,F,GUADALAJARA,ramono555@himail.com,6.2,JICR920403HSPMRM07,SP,2.195876,C,2023-11-30

In [7]:
df_na[~df_na['curp'].isnull()]

,clave_alu,ap_paterno,ap_materno,nombre,sexo,ciudad,email,calificacion,curp,estado,gpa,gpa_escala,fecha
4,11030180,GUTIERREZ,FLORES,CARLOS DAVID,M,QUERETARO,chorok_skp91@email.com,5.0,GUFC920124HPPTLR04,PP,1.577320,D,2023-09-30
5,11030183,JIMENEZ,CARRILLO,RAMON HUMBERTO,F,GUADALAJARA,ramono555@himail.com,6.2,JICR920403HSPMRM07,SP,2.195876,C,2023-11-30
6,11030188,MARTINEZ,RIVERA,JAVIER JOSUE,M,NaN,marka@email.com,8.0,MARJ930622HQTRVV01,QT,3.123711,B,2024-01-31
8,11030201,SUAREZ,SANCHEZ,ROCIO,F,QUERETARO,ossuarez@aol.com,NaN,SUSO911025MDFRNS02,DF,NaN,NaN,2024-05-31
9,11030204,VAZQUEZ,GONZALEZ,ROBERTO,NaN,QUERETARO,rob_vaz03@email.com,9.7,VAGR900708HQTRNS02,QT,4.000000,A,2024-07-31

In [8]:
df_na.dropna(axis=1)

    clave_alu ap_paterno ap_materno          nombre      fecha
0    11030172   BORBOLLA      RAMOS         ARGELIA 2023-01-31
1    11030173     CASTRO    MANCERA   KARLA MARIANA 2023-03-31
2    11030177   FERRUSCA    ANDRADE         OCTAVIO 2023-05-31
3    11030178     GARCIA      GOMEZ          RAFAEL 2023-07-31
4    11030180  GUTIERREZ     FLORES    CARLOS DAVID 2023-09-30
5    11030183    JIMENEZ   CARRILLO  RAMON HUMBERTO 2023-11-30
6    11030188   MARTINEZ     RIVERA    JAVIER JOSUE 2024-01-31
7    11030199    ROSALES     APREZA   NESTOR MARTIN 2024-03-31
8    11030201     SUAREZ    SANCHEZ           ROCIO 2024-05-31
9    11030204    VAZQUEZ   GONZALEZ         ROBERTO 2024-07-31
10   14080001      MEJIA    JIMENEZ           LUISA 2024-09-30
11   14080002      MEJIA    JIMENEZ           LUISA 2024-11-30
12   14080003      MEJIA    JIMENEZ           LUISA 2025-01-31

In [9]:
df_na[df_na.isnull().any(axis = 1)]

,clave_alu,ap_paterno,ap_materno,nombre,sexo,ciudad,email,calificacion,curp,estado,gpa,gpa_escala,fecha
0,11030172,BORBOLLA,RAMOS,ARGELIA,F,QUERETARO,argi_gogos@email.com,5.0,NaN,NaN,1.577320,D,2023-01-31
1,11030173,CASTRO,MANCERA,KARLA MARIANA,F,GUADALAJARA,NaN,8.7,NaN,NaN,3.484536,A,2023-03-31
2,11030177,FERRUSCA,ANDRADE,OCTAVIO,M,SANTIAGO DE QUERETARO,tavoferrus_11@email.com,7.3,NaN,NaN,2.762887,B,2023-05-31
3,11030178,GARCIA,GOMEZ,RAFAEL,M,QUERETARO QRO.,NaN,5.0,NaN,NaN,1.577320,D,2023-07-31
6,11030188,MARTINEZ,RIVERA,JAVIER JOSUE,M,NaN,marka@email.com,8.0,MARJ930622HQTRVV01,QT,3.123711,B,2024-01-31
7,11030199,ROSALES,APREZA,NESTOR MARTIN,M,QUERETARO,nestoriwh@hotmai.com,5.0,NaN,NaN,1.577320,D,2024-03-31
8,11030201,SUAREZ,SANCHEZ,ROCIO,F,QUERETARO,ossuarez@aol.com,NaN,SUSO911025MDFRNS02,DF,NaN,NaN,2024-05-31
9,11030204,VAZQUEZ,GONZALEZ,ROBERTO,NaN,QUERETARO,rob_vaz03@email.com,9.7,VAGR900708HQTRNS02,QT,4.000000,A,2024-07-31
10,14080001,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN,NaN,1.577320,D,2024-09-30
11,14080002,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN,NaN,1.577320,D,2024-11-30
12,14080003,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN,NaN,1.577320,D,2025-01-31

In [10]:
#Cambiar NaN por un valor
df_na['ciudad'] = df_na.ciudad.fillna('SIN CD')
df_na

,clave_alu,ap_paterno,ap_materno,nombre,sexo,ciudad,email,calificacion,curp,estado,gpa,gpa_escala,fecha
0,11030172,BORBOLLA,RAMOS,ARGELIA,F,QUERETARO,argi_gogos@email.com,5.0,NaN,NaN,1.577320,D,2023-01-31
1,11030173,CASTRO,MANCERA,KARLA MARIANA,F,GUADALAJARA,NaN,8.7,NaN,NaN,3.484536,A,2023-03-31
2,11030177,FERRUSCA,ANDRADE,OCTAVIO,M,SANTIAGO DE QUERETARO,tavoferrus_11@email.com,7.3,NaN,NaN,2.762887,B,2023-05-31
3,11030178,GARCIA,GOMEZ,RAFAEL,M,QUERETARO QRO.,NaN,5.0,NaN,NaN,1.577320,D,2023-07-31
4,11030180,GUTIERREZ,FLORES,CARLOS DAVID,M,QUERETARO,chorok_skp91@email.com,5.0,GUFC920124HPPTLR04,PP,1.577320,D,2023-09-30
5,11030183,JIMENEZ,CARRILLO,RAMON HUMBERTO,F,GUADALAJARA,ramono555@himail.com,6.2,JICR920403HSPMRM07,SP,2.195876,C,2023-11-30
6,11030188,MARTINEZ,RIVERA,JAVIER JOSUE,M,SIN CD,marka@email.com,8.0,MARJ930622HQTRVV01,QT,3.123711,B,2024-01-31
7,11030199,ROSALES,APREZA,NESTOR MARTIN,M,QUERETARO,nestoriwh@hotmai.com,5.0,NaN,NaN,1.577320,D,2024-03-31
8,11030201,SUAREZ,SANCHEZ,ROCIO,F,QUERETARO,ossuarez@aol.com,NaN,SUSO911025MDFRNS02,DF,NaN,NaN,2024-05-31
9,11030204,VAZQUEZ,GONZALEZ,ROBERTO,NaN,QUERETARO,rob_vaz03@email.com,9.7,VAGR900708HQTRNS02,QT,4.000000,A,2024-07-31
10,14080001,MEJIA,JIMENEZ,LUISA,NaN,SIN CD,NaN,5.0,NaN,NaN,1.577320,D,2024-09-30
11,14080002,MEJIA,JIMENEZ,LUISA,NaN,SIN CD,NaN,5.0,NaN,NaN,1.577320,D,2024-11-30
12,14080003,MEJIA,JIMENEZ,LUISA,NaN,SIN CD,NaN,5.0,NaN,NaN,1.577320,D,2025-01-31

In [11]:
#Cambiar NaN por el promedio de calificación
df_nac = df_na.copy()
df_nac['calificacion'] = round(df_na.calificacion.fillna(df_na.calificacion.mean()),1)
df_nac

,clave_alu,ap_paterno,ap_materno,nombre,sexo,ciudad,email,calificacion,curp,estado,gpa,gpa_escala,fecha
0,11030172,BORBOLLA,RAMOS,ARGELIA,F,QUERETARO,argi_gogos@email.com,5.0,NaN,NaN,1.577320,D,2023-01-31
1,11030173,CASTRO,MANCERA,KARLA MARIANA,F,GUADALAJARA,NaN,8.7,NaN,NaN,3.484536,A,2023-03-31
2,11030177,FERRUSCA,ANDRADE,OCTAVIO,M,SANTIAGO DE QUERETARO,tavoferrus_11@email.com,7.3,NaN,NaN,2.762887,B,2023-05-31
3,11030178,GARCIA,GOMEZ,RAFAEL,M,QUERETARO QRO.,NaN,5.0,NaN,NaN,1.577320,D,2023-07-31
4,11030180,GUTIERREZ,FLORES,CARLOS DAVID,M,QUERETARO,chorok_skp91@email.com,5.0,GUFC920124HPPTLR04,PP,1.577320,D,2023-09-30
5,11030183,JIMENEZ,CARRILLO,RAMON HUMBERTO,F,GUADALAJARA,ramono555@himail.com,6.2,JICR920403HSPMRM07,SP,2.195876,C,2023-11-30
6,11030188,MARTINEZ,RIVERA,JAVIER JOSUE,M,SIN CD,marka@email.com,8.0,MARJ930622HQTRVV01,QT,3.123711,B,2024-01-31
7,11030199,ROSALES,APREZA,NESTOR MARTIN,M,QUERETARO,nestoriwh@hotmai.com,5.0,NaN,NaN,1.577320,D,2024-03-31
8,11030201,SUAREZ,SANCHEZ,ROCIO,F,QUERETARO,ossuarez@aol.com,6.2,SUSO911025MDFRNS02,DF,NaN,NaN,2024-05-31
9,11030204,VAZQUEZ,GONZALEZ,ROBERTO,NaN,QUERETARO,rob_vaz03@email.com,9.7,VAGR900708HQTRNS02,QT,4.000000,A,2024-07-31
10,14080001,MEJIA,JIMENEZ,LUISA,NaN,SIN CD,NaN,5.0,NaN,NaN,1.577320,D,2024-09-30
11,14080002,MEJIA,JIMENEZ,LUISA,NaN,SIN CD,NaN,5.0,NaN,NaN,1.577320,D,2024-11-30
12,14080003,MEJIA,JIMENEZ,LUISA,NaN,SIN CD,NaN,5.0,NaN,NaN,1.577320,D,2025-01-31

In [12]:
#Cambiar NaN por el mínimo de calificación
df_nac = df_na.copy()
df_nac['calificacion'] = round(df_na.calificacion.fillna(df_na.calificacion.min()),1)
df_nac

,clave_alu,ap_paterno,ap_materno,nombre,sexo,ciudad,email,calificacion,curp,estado,gpa,gpa_escala,fecha
0,11030172,BORBOLLA,RAMOS,ARGELIA,F,QUERETARO,argi_gogos@email.com,5.0,NaN,NaN,1.577320,D,2023-01-31
1,11030173,CASTRO,MANCERA,KARLA MARIANA,F,GUADALAJARA,NaN,8.7,NaN,NaN,3.484536,A,2023-03-31
2,11030177,FERRUSCA,ANDRADE,OCTAVIO,M,SANTIAGO DE QUERETARO,tavoferrus_11@email.com,7.3,NaN,NaN,2.762887,B,2023-05-31
3,11030178,GARCIA,GOMEZ,RAFAEL,M,QUERETARO QRO.,NaN,5.0,NaN,NaN,1.577320,D,2023-07-31
4,11030180,GUTIERREZ,FLORES,CARLOS DAVID,M,QUERETARO,chorok_skp91@email.com,5.0,GUFC920124HPPTLR04,PP,1.577320,D,2023-09-30
5,11030183,JIMENEZ,CARRILLO,RAMON HUMBERTO,F,GUADALAJARA,ramono555@himail.com,6.2,JICR920403HSPMRM07,SP,2.195876,C,2023-11-30
6,11030188,MARTINEZ,RIVERA,JAVIER JOSUE,M,SIN CD,marka@email.com,8.0,MARJ930622HQTRVV01,QT,3.123711,B,2024-01-31
7,11030199,ROSALES,APREZA,NESTOR MARTIN,M,QUERETARO,nestoriwh@hotmai.com,5.0,NaN,NaN,1.577320,D,2024-03-31
8,11030201,SUAREZ,SANCHEZ,ROCIO,F,QUERETARO,ossuarez@aol.com,5.0,SUSO911025MDFRNS02,DF,NaN,NaN,2024-05-31
9,11030204,VAZQUEZ,GONZALEZ,ROBERTO,NaN,QUERETARO,rob_vaz03@email.com,9.7,VAGR900708HQTRNS02,QT,4.000000,A,2024-07-31
10,14080001,MEJIA,JIMENEZ,LUISA,NaN,SIN CD,NaN,5.0,NaN,NaN,1.577320,D,2024-09-30
11,14080002,MEJIA,JIMENEZ,LUISA,NaN,SIN CD,NaN,5.0,NaN,NaN,1.577320,D,2024-11-30
12,14080003,MEJIA,JIMENEZ,LUISA,NaN,SIN CD,NaN,5.0,NaN,NaN,1.577320,D,2025-01-31

In [13]:
#Remplazar valores
df['ciudad'] = df['ciudad'].replace({'SANTIAGO DE QUERETARO':'QUERETARO'})
df['ciudad'] = df['ciudad'].replace({'QUERETARO QRO.':'QUERETARO'})
df

,clave_alu,ap_paterno,ap_materno,nombre,sexo,ciudad,email,calificacion,curp,estado,gpa,gpa_escala,fecha
0,11030172,BORBOLLA,RAMOS,ARGELIA,F,QUERETARO,argi_gogos@email.com,5.0,NaN,NaN,1.577320,D,2023-01-31
1,11030173,CASTRO,MANCERA,KARLA MARIANA,F,GUADALAJARA,NaN,8.7,NaN,NaN,3.484536,A,2023-03-31
2,11030177,FERRUSCA,ANDRADE,OCTAVIO,M,QUERETARO,tavoferrus_11@email.com,7.3,NaN,NaN,2.762887,B,2023-05-31
3,11030178,GARCIA,GOMEZ,RAFAEL,M,QUERETARO,NaN,5.0,NaN,NaN,1.577320,D,2023-07-31
4,11030180,GUTIERREZ,FLORES,CARLOS DAVID,M,QUERETARO,chorok_skp91@email.com,5.0,GUFC920124HPPTLR04,PP,1.577320,D,2023-09-30
5,11030183,JIMENEZ,CARRILLO,RAMON HUMBERTO,F,GUADALAJARA,ramono555@himail.com,6.2,JICR920403HSPMRM07,SP,2.195876,C,2023-11-30
6,11030188,MARTINEZ,RIVERA,JAVIER JOSUE,M,NaN,marka@email.com,8.0,MARJ930622HQTRVV01,QT,3.123711,B,2024-01-31
7,11030199,ROSALES,APREZA,NESTOR MARTIN,M,QUERETARO,nestoriwh@hotmai.com,5.0,NaN,NaN,1.577320,D,2024-03-31
8,11030201,SUAREZ,SANCHEZ,ROCIO,F,QUERETARO,ossuarez@aol.com,NaN,SUSO911025MDFRNS02,DF,NaN,NaN,2024-05-31
9,11030204,VAZQUEZ,GONZALEZ,ROBERTO,NaN,QUERETARO,rob_vaz03@email.com,9.7,VAGR900708HQTRNS02,QT,4.000000,A,2024-07-31
10,14080001,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN,NaN,1.577320,D,2024-09-30
11,14080002,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN,NaN,1.577320,D,2024-11-30
12,14080003,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN,NaN,1.577320,D,2025-01-31

In [15]:
df_na.replace(to_replace="QUE",value='QRO',regex=True)

,clave_alu,ap_paterno,ap_materno,nombre,sexo,ciudad,email,calificacion,curp,estado,gpa,gpa_escala,fecha
0,11030172,BORBOLLA,RAMOS,ARGELIA,F,QRORETARO,argi_gogos@email.com,5.0,NaN,NaN,1.577320,D,2023-01-31
1,11030173,CASTRO,MANCERA,KARLA MARIANA,F,GUADALAJARA,NaN,8.7,NaN,NaN,3.484536,A,2023-03-31
2,11030177,FERRUSCA,ANDRADE,OCTAVIO,M,SANTIAGO DE QRORETARO,tavoferrus_11@email.com,7.3,NaN,NaN,2.762887,B,2023-05-31
3,11030178,GARCIA,GOMEZ,RAFAEL,M,QRORETARO QRO.,NaN,5.0,NaN,NaN,1.577320,D,2023-07-31
4,11030180,GUTIERREZ,FLORES,CARLOS DAVID,M,QRORETARO,chorok_skp91@email.com,5.0,GUFC920124HPPTLR04,PP,1.577320,D,2023-09-30
5,11030183,JIMENEZ,CARRILLO,RAMON HUMBERTO,F,GUADALAJARA,ramono555@himail.com,6.2,JICR920403HSPMRM07,SP,2.195876,C,2023-11-30
6,11030188,MARTINEZ,RIVERA,JAVIER JOSUE,M,SIN CD,marka@email.com,8.0,MARJ930622HQTRVV01,QT,3.123711,B,2024-01-31
7,11030199,ROSALES,APREZA,NESTOR MARTIN,M,QRORETARO,nestoriwh@hotmai.com,5.0,NaN,NaN,1.577320,D,2024-03-31
8,11030201,SUAREZ,SANCHEZ,ROCIO,F,QRORETARO,ossuarez@aol.com,NaN,SUSO911025MDFRNS02,DF,NaN,NaN,2024-05-31
9,11030204,VAZQROZ,GONZALEZ,ROBERTO,NaN,QRORETARO,rob_vaz03@email.com,9.7,VAGR900708HQTRNS02,QT,4.000000,A,2024-07-31
10,14080001,MEJIA,JIMENEZ,LUISA,NaN,SIN CD,NaN,5.0,NaN,NaN,1.577320,D,2024-09-30
11,14080002,MEJIA,JIMENEZ,LUISA,NaN,SIN CD,NaN,5.0,NaN,NaN,1.577320,D,2024-11-30
12,14080003,MEJIA,JIMENEZ,LUISA,NaN,SIN CD,NaN,5.0,NaN,NaN,1.577320,D,2025-01-31

In [16]:
df['email'] = df['email'].replace(to_replace='email.com',value='aragon.mx',regex=True)
df

,clave_alu,ap_paterno,ap_materno,nombre,sexo,ciudad,email,calificacion,curp,estado,gpa,gpa_escala,fecha
0,11030172,BORBOLLA,RAMOS,ARGELIA,F,QUERETARO,argi_gogos@aragon.mx,5.0,NaN,NaN,1.577320,D,2023-01-31
1,11030173,CASTRO,MANCERA,KARLA MARIANA,F,GUADALAJARA,NaN,8.7,NaN,NaN,3.484536,A,2023-03-31
2,11030177,FERRUSCA,ANDRADE,OCTAVIO,M,QUERETARO,tavoferrus_11@aragon.mx,7.3,NaN,NaN,2.762887,B,2023-05-31
3,11030178,GARCIA,GOMEZ,RAFAEL,M,QUERETARO,NaN,5.0,NaN,NaN,1.577320,D,2023-07-31
4,11030180,GUTIERREZ,FLORES,CARLOS DAVID,M,QUERETARO,chorok_skp91@aragon.mx,5.0,GUFC920124HPPTLR04,PP,1.577320,D,2023-09-30
5,11030183,JIMENEZ,CARRILLO,RAMON HUMBERTO,F,GUADALAJARA,ramono555@himail.com,6.2,JICR920403HSPMRM07,SP,2.195876,C,2023-11-30
6,11030188,MARTINEZ,RIVERA,JAVIER JOSUE,M,NaN,marka@aragon.mx,8.0,MARJ930622HQTRVV01,QT,3.123711,B,2024-01-31
7,11030199,ROSALES,APREZA,NESTOR MARTIN,M,QUERETARO,nestoriwh@hotmai.com,5.0,NaN,NaN,1.577320,D,2024-03-31
8,11030201,SUAREZ,SANCHEZ,ROCIO,F,QUERETARO,ossuarez@aol.com,NaN,SUSO911025MDFRNS02,DF,NaN,NaN,2024-05-31
9,11030204,VAZQUEZ,GONZALEZ,ROBERTO,NaN,QUERETARO,rob_vaz03@aragon.mx,9.7,VAGR900708HQTRNS02,QT,4.000000,A,2024-07-31
10,14080001,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN,NaN,1.577320,D,2024-09-30
11,14080002,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN,NaN,1.577320,D,2024-11-30
12,14080003,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN,NaN,1.577320,D,2025-01-31

In [18]:
df_na['email'] = df_na['email'].str.upper()
df_na

,clave_alu,ap_paterno,ap_materno,nombre,sexo,ciudad,email,calificacion,curp,estado,gpa,gpa_escala,fecha
0,11030172,BORBOLLA,RAMOS,ARGELIA,F,QUERETARO,ARGI_GOGOS@EMAIL.COM,5.0,NaN,NaN,1.577320,D,2023-01-31
1,11030173,CASTRO,MANCERA,KARLA MARIANA,F,GUADALAJARA,NaN,8.7,NaN,NaN,3.484536,A,2023-03-31
2,11030177,FERRUSCA,ANDRADE,OCTAVIO,M,SANTIAGO DE QUERETARO,TAVOFERRUS_11@EMAIL.COM,7.3,NaN,NaN,2.762887,B,2023-05-31
3,11030178,GARCIA,GOMEZ,RAFAEL,M,QUERETARO QRO.,NaN,5.0,NaN,NaN,1.577320,D,2023-07-31
4,11030180,GUTIERREZ,FLORES,CARLOS DAVID,M,QUERETARO,CHOROK_SKP91@EMAIL.COM,5.0,GUFC920124HPPTLR04,PP,1.577320,D,2023-09-30
5,11030183,JIMENEZ,CARRILLO,RAMON HUMBERTO,F,GUADALAJARA,RAMONO555@HIMAIL.COM,6.2,JICR920403HSPMRM07,SP,2.195876,C,2023-11-30
6,11030188,MARTINEZ,RIVERA,JAVIER JOSUE,M,SIN CD,MARKA@EMAIL.COM,8.0,MARJ930622HQTRVV01,QT,3.123711,B,2024-01-31
7,11030199,ROSALES,APREZA,NESTOR MARTIN,M,QUERETARO,NESTORIWH@HOTMAI.COM,5.0,NaN,NaN,1.577320,D,2024-03-31
8,11030201,SUAREZ,SANCHEZ,ROCIO,F,QUERETARO,OSSUAREZ@AOL.COM,NaN,SUSO911025MDFRNS02,DF,NaN,NaN,2024-05-31
9,11030204,VAZQUEZ,GONZALEZ,ROBERTO,NaN,QUERETARO,ROB_VAZ03@EMAIL.COM,9.7,VAGR900708HQTRNS02,QT,4.000000,A,2024-07-31
10,14080001,MEJIA,JIMENEZ,LUISA,NaN,SIN CD,NaN,5.0,NaN,NaN,1.577320,D,2024-09-30
11,14080002,MEJIA,JIMENEZ,LUISA,NaN,SIN CD,NaN,5.0,NaN,NaN,1.577320,D,2024-11-30
12,14080003,MEJIA,JIMENEZ,LUISA,NaN,SIN CD,NaN,5.0,NaN,NaN,1.577320,D,2025-01-31

In [19]:
#Quitar caracteres en blanco
df['ciudad'] = df['ciudad'].str.strip()
df

,clave_alu,ap_paterno,ap_materno,nombre,sexo,ciudad,email,calificacion,curp,estado,gpa,gpa_escala,fecha
0,11030172,BORBOLLA,RAMOS,ARGELIA,F,QUERETARO,argi_gogos@aragon.mx,5.0,NaN,NaN,1.577320,D,2023-01-31
1,11030173,CASTRO,MANCERA,KARLA MARIANA,F,GUADALAJARA,NaN,8.7,NaN,NaN,3.484536,A,2023-03-31
2,11030177,FERRUSCA,ANDRADE,OCTAVIO,M,QUERETARO,tavoferrus_11@aragon.mx,7.3,NaN,NaN,2.762887,B,2023-05-31
3,11030178,GARCIA,GOMEZ,RAFAEL,M,QUERETARO,NaN,5.0,NaN,NaN,1.577320,D,2023-07-31
4,11030180,GUTIERREZ,FLORES,CARLOS DAVID,M,QUERETARO,chorok_skp91@aragon.mx,5.0,GUFC920124HPPTLR04,PP,1.577320,D,2023-09-30
5,11030183,JIMENEZ,CARRILLO,RAMON HUMBERTO,F,GUADALAJARA,ramono555@himail.com,6.2,JICR920403HSPMRM07,SP,2.195876,C,2023-11-30
6,11030188,MARTINEZ,RIVERA,JAVIER JOSUE,M,NaN,marka@aragon.mx,8.0,MARJ930622HQTRVV01,QT,3.123711,B,2024-01-31
7,11030199,ROSALES,APREZA,NESTOR MARTIN,M,QUERETARO,nestoriwh@hotmai.com,5.0,NaN,NaN,1.577320,D,2024-03-31
8,11030201,SUAREZ,SANCHEZ,ROCIO,F,QUERETARO,ossuarez@aol.com,NaN,SUSO911025MDFRNS02,DF,NaN,NaN,2024-05-31
9,11030204,VAZQUEZ,GONZALEZ,ROBERTO,NaN,QUERETARO,rob_vaz03@aragon.mx,9.7,VAGR900708HQTRNS02,QT,4.000000,A,2024-07-31
10,14080001,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN,NaN,1.577320,D,2024-09-30
11,14080002,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN,NaN,1.577320,D,2024-11-30
12,14080003,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN,NaN,1.577320,D,2025-01-31

In [20]:
df['ciudad'] = df['ciudad'].replace({"SANTIAGO DE QUERETARO":"QUERETARO", "QUERETARO QRO.":"QUERETARO"})
df

,clave_alu,ap_paterno,ap_materno,nombre,sexo,ciudad,email,calificacion,curp,estado,gpa,gpa_escala,fecha
0,11030172,BORBOLLA,RAMOS,ARGELIA,F,QUERETARO,argi_gogos@aragon.mx,5.0,NaN,NaN,1.577320,D,2023-01-31
1,11030173,CASTRO,MANCERA,KARLA MARIANA,F,GUADALAJARA,NaN,8.7,NaN,NaN,3.484536,A,2023-03-31
2,11030177,FERRUSCA,ANDRADE,OCTAVIO,M,QUERETARO,tavoferrus_11@aragon.mx,7.3,NaN,NaN,2.762887,B,2023-05-31
3,11030178,GARCIA,GOMEZ,RAFAEL,M,QUERETARO,NaN,5.0,NaN,NaN,1.577320,D,2023-07-31
4,11030180,GUTIERREZ,FLORES,CARLOS DAVID,M,QUERETARO,chorok_skp91@aragon.mx,5.0,GUFC920124HPPTLR04,PP,1.577320,D,2023-09-30
5,11030183,JIMENEZ,CARRILLO,RAMON HUMBERTO,F,GUADALAJARA,ramono555@himail.com,6.2,JICR920403HSPMRM07,SP,2.195876,C,2023-11-30
6,11030188,MARTINEZ,RIVERA,JAVIER JOSUE,M,NaN,marka@aragon.mx,8.0,MARJ930622HQTRVV01,QT,3.123711,B,2024-01-31
7,11030199,ROSALES,APREZA,NESTOR MARTIN,M,QUERETARO,nestoriwh@hotmai.com,5.0,NaN,NaN,1.577320,D,2024-03-31
8,11030201,SUAREZ,SANCHEZ,ROCIO,F,QUERETARO,ossuarez@aol.com,NaN,SUSO911025MDFRNS02,DF,NaN,NaN,2024-05-31
9,11030204,VAZQUEZ,GONZALEZ,ROBERTO,NaN,QUERETARO,rob_vaz03@aragon.mx,9.7,VAGR900708HQTRNS02,QT,4.000000,A,2024-07-31
10,14080001,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN,NaN,1.577320,D,2024-09-30
11,14080002,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN,NaN,1.577320,D,2024-11-30
12,14080003,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN,NaN,1.577320,D,2025-01-31

In [21]:
#Buscar duplicados considerando todos los campos
df.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
dtype: bool

In [26]:
#Buscar duplicados considerando algunos campos
s_dup = df.duplicated(subset=['ap_paterno','ap_materno','nombre','sexo','ciudad','email'],keep=False)
s_dup

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10     True
11     True
12    False
dtype: bool

In [27]:
#Buscar duplicados considerando algunos campos
s_dup = df.duplicated(subset=['ap_paterno','ap_materno','nombre','sexo','ciudad','email'],keep='last')
s_dup

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10     True
11     True
12     True
dtype: bool

In [28]:
df[s_dup]

,clave_alu,ap_paterno,ap_materno,nombre,sexo,ciudad,email,calificacion,curp,estado,gpa,gpa_escala,fecha
10,14080001,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN,NaN,1.57732,D,2024-09-30
11,14080002,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN,NaN,1.57732,D,2024-11-30
12,14080003,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN,NaN,1.57732,D,2025-01-31

In [31]:
df.drop_duplicates(subset=['ap_paterno','ap_materno','nombre','sexo','ciudad','email'],keep='last',inplace=True)
df.count()

clave_alu       11
ap_paterno      11
ap_materno      11
nombre          11
sexo             9
ciudad           9
email            8
calificacion    10
curp             5
estado           5
gpa             10
gpa_escala      10
fecha           11
dtype: int64

In [34]:
df['ciudad'].unique()

array(['QUERETARO', 'GUADALAJARA', nan], dtype=object)

In [35]:
df['ciudad'].value_counts(dropna=False)

QUERETARO      7
GUADALAJARA    2
NaN            2
Name: ciudad, dtype: int64

In [38]:
#Filtrar y ordenar
df[df['calificacion'] > 5].sort_values(by='calificacion',ascending=False)

,clave_alu,ap_paterno,ap_materno,nombre,sexo,ciudad,email,calificacion,curp,estado,gpa,gpa_escala,fecha
9,11030204,VAZQUEZ,GONZALEZ,ROBERTO,NaN,QUERETARO,rob_vaz03@aragon.mx,9.7,VAGR900708HQTRNS02,QT,4.000000,A,2024-07-31
1,11030173,CASTRO,MANCERA,KARLA MARIANA,F,GUADALAJARA,NaN,8.7,NaN,NaN,3.484536,A,2023-03-31
6,11030188,MARTINEZ,RIVERA,JAVIER JOSUE,M,NaN,marka@aragon.mx,8.0,MARJ930622HQTRVV01,QT,3.123711,B,2024-01-31
2,11030177,FERRUSCA,ANDRADE,OCTAVIO,M,QUERETARO,tavoferrus_11@aragon.mx,7.3,NaN,NaN,2.762887,B,2023-05-31
5,11030183,JIMENEZ,CARRILLO,RAMON HUMBERTO,F,GUADALAJARA,ramono555@himail.com,6.2,JICR920403HSPMRM07,SP,2.195876,C,2023-11-30

In [39]:
df[df['calificacion'] > 5].sort_values(by=['sexo','calificacion'],ascending=[True,False])

,clave_alu,ap_paterno,ap_materno,nombre,sexo,ciudad,email,calificacion,curp,estado,gpa,gpa_escala,fecha
1,11030173,CASTRO,MANCERA,KARLA MARIANA,F,GUADALAJARA,NaN,8.7,NaN,NaN,3.484536,A,2023-03-31
5,11030183,JIMENEZ,CARRILLO,RAMON HUMBERTO,F,GUADALAJARA,ramono555@himail.com,6.2,JICR920403HSPMRM07,SP,2.195876,C,2023-11-30
6,11030188,MARTINEZ,RIVERA,JAVIER JOSUE,M,NaN,marka@aragon.mx,8.0,MARJ930622HQTRVV01,QT,3.123711,B,2024-01-31
2,11030177,FERRUSCA,ANDRADE,OCTAVIO,M,QUERETARO,tavoferrus_11@aragon.mx,7.3,NaN,NaN,2.762887,B,2023-05-31
9,11030204,VAZQUEZ,GONZALEZ,ROBERTO,NaN,QUERETARO,rob_vaz03@aragon.mx,9.7,VAGR900708HQTRNS02,QT,4.000000,A,2024-07-31

In [43]:
filtro_calificacion = df['calificacion'] > 5
filtro_ciudad = df['ciudad'] != 'QUERETARO'

In [44]:
df[filtro_calificacion & filtro_ciudad].sort_values(by=['ciudad','calificacion'],ascending=[True,False])

,clave_alu,ap_paterno,ap_materno,nombre,sexo,ciudad,email,calificacion,curp,estado,gpa,gpa_escala,fecha
1,11030173,CASTRO,MANCERA,KARLA MARIANA,F,GUADALAJARA,NaN,8.7,NaN,NaN,3.484536,A,2023-03-31
5,11030183,JIMENEZ,CARRILLO,RAMON HUMBERTO,F,GUADALAJARA,ramono555@himail.com,6.2,JICR920403HSPMRM07,SP,2.195876,C,2023-11-30
6,11030188,MARTINEZ,RIVERA,JAVIER JOSUE,M,NaN,marka@aragon.mx,8.0,MARJ930622HQTRVV01,QT,3.123711,B,2024-01-31

In [45]:
#Filtro por fecha
from datetime import datetime
df[df['fecha']>=datetime(year=2024,month=4,day=1)].sort_values(by='fecha')

In [47]:
df[df['nombre'].isin(['ROBERTO','LUISA']) & ~filtro_calificacion]

,clave_alu,ap_paterno,ap_materno,nombre,sexo,ciudad,email,calificacion,curp,estado,gpa,gpa_escala,fecha
12,14080003,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN,NaN,1.57732,D,2025-01-31

In [49]:
df[~df['nombre'].isin(['ROBERTO','LUISA']) & ~filtro_calificacion][['nombre','gpa_escala']]

          nombre gpa_escala
0        ARGELIA          D
3         RAFAEL          D
4   CARLOS DAVID          D
7  NESTOR MARTIN          D
8          ROCIO        NaN

In [50]:
#Creamos una lista con los valores de split
df['lista_email'] = df.email.str.split('@')
df

,clave_alu,ap_paterno,ap_materno,nombre,sexo,ciudad,email,calificacion,curp,estado,gpa,gpa_escala,fecha,lista_email
0,11030172,BORBOLLA,RAMOS,ARGELIA,F,QUERETARO,argi_gogos@aragon.mx,5.0,NaN,NaN,1.577320,D,2023-01-31,"[argi_gogos, aragon.mx]"
1,11030173,CASTRO,MANCERA,KARLA MARIANA,F,GUADALAJARA,NaN,8.7,NaN,NaN,3.484536,A,2023-03-31,NaN
2,11030177,FERRUSCA,ANDRADE,OCTAVIO,M,QUERETARO,tavoferrus_11@aragon.mx,7.3,NaN,NaN,2.762887,B,2023-05-31,"[tavoferrus_11, aragon.mx]"
3,11030178,GARCIA,GOMEZ,RAFAEL,M,QUERETARO,NaN,5.0,NaN,NaN,1.577320,D,2023-07-31,NaN
4,11030180,GUTIERREZ,FLORES,CARLOS DAVID,M,QUERETARO,chorok_skp91@aragon.mx,5.0,GUFC920124HPPTLR04,PP,1.577320,D,2023-09-30,"[chorok_skp91, aragon.mx]"
5,11030183,JIMENEZ,CARRILLO,RAMON HUMBERTO,F,GUADALAJARA,ramono555@himail.com,6.2,JICR920403HSPMRM07,SP,2.195876,C,2023-11-30,"[ramono555, himail.com]"
6,11030188,MARTINEZ,RIVERA,JAVIER JOSUE,M,NaN,marka@aragon.mx,8.0,MARJ930622HQTRVV01,QT,3.123711,B,2024-01-31,"[marka, aragon.mx]"
7,11030199,ROSALES,APREZA,NESTOR MARTIN,M,QUERETARO,nestoriwh@hotmai.com,5.0,NaN,NaN,1.577320,D,2024-03-31,"[nestoriwh, hotmai.com]"
8,11030201,SUAREZ,SANCHEZ,ROCIO,F,QUERETARO,ossuarez@aol.com,NaN,SUSO911025MDFRNS02,DF,NaN,NaN,2024-05-31,"[ossuarez, aol.com]"
9,11030204,VAZQUEZ,GONZALEZ,ROBERTO,NaN,QUERETARO,rob_vaz03@aragon.mx,9.7,VAGR900708HQTRNS02,QT,4.000000,A,2024-07-31,"[rob_vaz03, aragon.mx]"
12,14080003,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN,NaN,1.577320,D,2025-01-31,NaN

In [51]:
df['lista_email'].tolist()

[['argi_gogos', 'aragon.mx'],
 nan,
 ['tavoferrus_11', 'aragon.mx'],
 nan,
 ['chorok_skp91', 'aragon.mx'],
 ['ramono555', 'himail.com'],
 ['marka', 'aragon.mx'],
 ['nestoriwh', 'hotmai.com'],
 ['ossuarez', 'aol.com'],
 ['rob_vaz03', 'aragon.mx'],
 nan]

In [52]:
df['lista_email'].fillna('', inplace=True)
print(df['lista_email'].map(len).max())
df['lista_email']

2

0        [argi_gogos, aragon.mx]
1
2     [tavoferrus_11, aragon.mx]
3
4      [chorok_skp91, aragon.mx]
5        [ramono555, himail.com]
6             [marka, aragon.mx]
7        [nestoriwh, hotmai.com]
8            [ossuarez, aol.com]
9         [rob_vaz03, aragon.mx]
12
Name: lista_email, dtype: object

In [53]:
df_mail = pd.DataFrame(df['lista_email'].fillna('').tolist()).add_prefix('email_')
df_mail

          email_0     email_1
0      argi_gogos   aragon.mx
1            None        None
2   tavoferrus_11   aragon.mx
3            None        None
4    chorok_skp91   aragon.mx
5       ramono555  himail.com
6           marka   aragon.mx
7       nestoriwh  hotmai.com
8        ossuarez     aol.com
9       rob_vaz03   aragon.mx
10           None        None

In [54]:
df_concat = pd.concat([df,df_mail],axis=1)
df_concat

,clave_alu,ap_paterno,ap_materno,nombre,sexo,ciudad,email,calificacion,curp,estado,gpa,gpa_escala,fecha,lista_email,email_0,email_1
0,11030172.0,BORBOLLA,RAMOS,ARGELIA,F,QUERETARO,argi_gogos@aragon.mx,5.0,NaN,NaN,1.577320,D,2023-01-31,"[argi_gogos, aragon.mx]",argi_gogos,aragon.mx
1,11030173.0,CASTRO,MANCERA,KARLA MARIANA,F,GUADALAJARA,NaN,8.7,NaN,NaN,3.484536,A,2023-03-31,,None,None
2,11030177.0,FERRUSCA,ANDRADE,OCTAVIO,M,QUERETARO,tavoferrus_11@aragon.mx,7.3,NaN,NaN,2.762887,B,2023-05-31,"[tavoferrus_11, aragon.mx]",tavoferrus_11,aragon.mx
3,11030178.0,GARCIA,GOMEZ,RAFAEL,M,QUERETARO,NaN,5.0,NaN,NaN,1.577320,D,2023-07-31,,None,None
4,11030180.0,GUTIERREZ,FLORES,CARLOS DAVID,M,QUERETARO,chorok_skp91@aragon.mx,5.0,GUFC920124HPPTLR04,PP,1.577320,D,2023-09-30,"[chorok_skp91, aragon.mx]",chorok_skp91,aragon.mx
5,11030183.0,JIMENEZ,CARRILLO,RAMON HUMBERTO,F,GUADALAJARA,ramono555@himail.com,6.2,JICR920403HSPMRM07,SP,2.195876,C,2023-11-30,"[ramono555, himail.com]",ramono555,himail.com
6,11030188.0,MARTINEZ,RIVERA,JAVIER JOSUE,M,NaN,marka@aragon.mx,8.0,MARJ930622HQTRVV01,QT,3.123711,B,2024-01-31,"[marka, aragon.mx]",marka,aragon.mx
7,11030199.0,ROSALES,APREZA,NESTOR MARTIN,M,QUERETARO,nestoriwh@hotmai.com,5.0,NaN,NaN,1.577320,D,2024-03-31,"[nestoriwh, hotmai.com]",nestoriwh,hotmai.com
8,11030201.0,SUAREZ,SANCHEZ,ROCIO,F,QUERETARO,ossuarez@aol.com,NaN,SUSO911025MDFRNS02,DF,NaN,NaN,2024-05-31,"[ossuarez, aol.com]",ossuarez,aol.com
9,11030204.0,VAZQUEZ,GONZALEZ,ROBERTO,NaN,QUERETARO,rob_vaz03@aragon.mx,9.7,VAGR900708HQTRNS02,QT,4.000000,A,2024-07-31,"[rob_vaz03, aragon.mx]",rob_vaz03,aragon.mx
12,14080003.0,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN,NaN,1.577320,D,2025-01-31,,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,None,None

In [55]:
df_concat.drop(['lista_email'], axis=1, inplace=True)
df_concat.rename(columns={'email_0':'usuario', 'email_1':'dominio'}, inplace=True)
df_concat

,clave_alu,ap_paterno,ap_materno,nombre,sexo,ciudad,email,calificacion,curp,estado,gpa,gpa_escala,fecha,usuario,dominio
0,11030172.0,BORBOLLA,RAMOS,ARGELIA,F,QUERETARO,argi_gogos@aragon.mx,5.0,NaN,NaN,1.577320,D,2023-01-31,argi_gogos,aragon.mx
1,11030173.0,CASTRO,MANCERA,KARLA MARIANA,F,GUADALAJARA,NaN,8.7,NaN,NaN,3.484536,A,2023-03-31,None,None
2,11030177.0,FERRUSCA,ANDRADE,OCTAVIO,M,QUERETARO,tavoferrus_11@aragon.mx,7.3,NaN,NaN,2.762887,B,2023-05-31,tavoferrus_11,aragon.mx
3,11030178.0,GARCIA,GOMEZ,RAFAEL,M,QUERETARO,NaN,5.0,NaN,NaN,1.577320,D,2023-07-31,None,None
4,11030180.0,GUTIERREZ,FLORES,CARLOS DAVID,M,QUERETARO,chorok_skp91@aragon.mx,5.0,GUFC920124HPPTLR04,PP,1.577320,D,2023-09-30,chorok_skp91,aragon.mx
5,11030183.0,JIMENEZ,CARRILLO,RAMON HUMBERTO,F,GUADALAJARA,ramono555@himail.com,6.2,JICR920403HSPMRM07,SP,2.195876,C,2023-11-30,ramono555,himail.com
6,11030188.0,MARTINEZ,RIVERA,JAVIER JOSUE,M,NaN,marka@aragon.mx,8.0,MARJ930622HQTRVV01,QT,3.123711,B,2024-01-31,marka,aragon.mx
7,11030199.0,ROSALES,APREZA,NESTOR MARTIN,M,QUERETARO,nestoriwh@hotmai.com,5.0,NaN,NaN,1.577320,D,2024-03-31,nestoriwh,hotmai.com
8,11030201.0,SUAREZ,SANCHEZ,ROCIO,F,QUERETARO,ossuarez@aol.com,NaN,SUSO911025MDFRNS02,DF,NaN,NaN,2024-05-31,ossuarez,aol.com
9,11030204.0,VAZQUEZ,GONZALEZ,ROBERTO,NaN,QUERETARO,rob_vaz03@aragon.mx,9.7,VAGR900708HQTRNS02,QT,4.000000,A,2024-07-31,rob_vaz03,aragon.mx
12,14080003.0,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN,NaN,1.577320,D,2025-01-31,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,None,None

In [56]:
df.groupby(['estado'], dropna=False)['clave_alu'].agg('count')

estado
DF     1
PP     1
QT     2
SP     1
NaN    6
Name: clave_alu, dtype: int64

In [57]:
df_estado = pd.read_csv("datos/estados_curp.csv")
df_estado

                     ESTADO ABREVIATURA
0            AGUASCALIENTES          AS
1           BAJA CALIFORNIA          BC
2       BAJA CALIFORNIA SUR          BS
3                  CAMPECHE          CC
4                   CHIAPAS          CS
5                 CHIHUAHUA          CH
6                  COAHUILA          CL
7                    COLIMA          CM
8          DISTRITO FEDERAL          DF
9                   DURANGO          DG
10         ESTADO DE MEXICO          MC
11               GUANAJUATO          GT
12                 GUERRERO          GR
13                  HIDALGO          HG
14                  JALISCO          JC
15                MICHOACAN          MN
16                  MORELOS          MS
17                  NAYARIT          NT
18               NUEVO LEON          NL
19                   OAXACA          OC
20                   PUEBLA          PL
21                QUERETARO          QT
22             QUINTANA ROO          QR
23          SAN LUIS POTOSI          SP
24                  SINALOA          SL
25                   SONORA          SR
26                  TABASCO          TC
27               TAMAULIPAS          TS
28                 TLAXCALA          TL
29                 VERACRUZ          VZ
30                  YUCATAN          YN
31                ZACATECAS          ZS
32  NACIDO EN EL EXTRANJERO          NE

In [62]:
#Inner cuando las 2 claves coinciden
pd.merge(df,df_estado,left_on='estado',right_on='ABREVIATURA',how='inner')

,clave_alu,ap_paterno,ap_materno,nombre,sexo,ciudad,email,calificacion,curp,estado,gpa,gpa_escala,fecha,lista_email,ESTADO,ABREVIATURA
0,11030183,JIMENEZ,CARRILLO,RAMON HUMBERTO,F,GUADALAJARA,ramono555@himail.com,6.2,JICR920403HSPMRM07,SP,2.195876,C,2023-11-30,"[ramono555, himail.com]",SAN LUIS POTOSI,SP
1,11030188,MARTINEZ,RIVERA,JAVIER JOSUE,M,NaN,marka@aragon.mx,8.0,MARJ930622HQTRVV01,QT,3.123711,B,2024-01-31,"[marka, aragon.mx]",QUERETARO,QT
2,11030204,VAZQUEZ,GONZALEZ,ROBERTO,NaN,QUERETARO,rob_vaz03@aragon.mx,9.7,VAGR900708HQTRNS02,QT,4.000000,A,2024-07-31,"[rob_vaz03, aragon.mx]",QUERETARO,QT
3,11030201,SUAREZ,SANCHEZ,ROCIO,F,QUERETARO,ossuarez@aol.com,NaN,SUSO911025MDFRNS02,DF,NaN,NaN,2024-05-31,"[ossuarez, aol.com]",DISTRITO FEDERAL,DF

In [63]:
#LEFT muestra todo lo de la izquierda (ALUMNOS) aunque no coincida la llave
pd.merge(df,df_estado,left_on='estado',right_on='ABREVIATURA',how='left')

,clave_alu,ap_paterno,ap_materno,nombre,sexo,ciudad,email,calificacion,curp,estado,gpa,gpa_escala,fecha,lista_email,ESTADO,ABREVIATURA
0,11030172,BORBOLLA,RAMOS,ARGELIA,F,QUERETARO,argi_gogos@aragon.mx,5.0,NaN,NaN,1.577320,D,2023-01-31,"[argi_gogos, aragon.mx]",NaN,NaN
1,11030173,CASTRO,MANCERA,KARLA MARIANA,F,GUADALAJARA,NaN,8.7,NaN,NaN,3.484536,A,2023-03-31,,NaN,NaN
2,11030177,FERRUSCA,ANDRADE,OCTAVIO,M,QUERETARO,tavoferrus_11@aragon.mx,7.3,NaN,NaN,2.762887,B,2023-05-31,"[tavoferrus_11, aragon.mx]",NaN,NaN
3,11030178,GARCIA,GOMEZ,RAFAEL,M,QUERETARO,NaN,5.0,NaN,NaN,1.577320,D,2023-07-31,,NaN,NaN
4,11030180,GUTIERREZ,FLORES,CARLOS DAVID,M,QUERETARO,chorok_skp91@aragon.mx,5.0,GUFC920124HPPTLR04,PP,1.577320,D,2023-09-30,"[chorok_skp91, aragon.mx]",NaN,NaN
5,11030183,JIMENEZ,CARRILLO,RAMON HUMBERTO,F,GUADALAJARA,ramono555@himail.com,6.2,JICR920403HSPMRM07,SP,2.195876,C,2023-11-30,"[ramono555, himail.com]",SAN LUIS POTOSI,SP
6,11030188,MARTINEZ,RIVERA,JAVIER JOSUE,M,NaN,marka@aragon.mx,8.0,MARJ930622HQTRVV01,QT,3.123711,B,2024-01-31,"[marka, aragon.mx]",QUERETARO,QT
7,11030199,ROSALES,APREZA,NESTOR MARTIN,M,QUERETARO,nestoriwh@hotmai.com,5.0,NaN,NaN,1.577320,D,2024-03-31,"[nestoriwh, hotmai.com]",NaN,NaN
8,11030201,SUAREZ,SANCHEZ,ROCIO,F,QUERETARO,ossuarez@aol.com,NaN,SUSO911025MDFRNS02,DF,NaN,NaN,2024-05-31,"[ossuarez, aol.com]",DISTRITO FEDERAL,DF
9,11030204,VAZQUEZ,GONZALEZ,ROBERTO,NaN,QUERETARO,rob_vaz03@aragon.mx,9.7,VAGR900708HQTRNS02,QT,4.000000,A,2024-07-31,"[rob_vaz03, aragon.mx]",QUERETARO,QT
10,14080003,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN,NaN,1.577320,D,2025-01-31,,NaN,NaN

In [64]:
#RIGHT muestra todo lo de la derecha (ESTADOS) aunque no coincida la llave
pd.merge(df,df_estado,left_on='estado',right_on='ABREVIATURA',how='right')

,clave_alu,ap_paterno,ap_materno,nombre,sexo,ciudad,email,calificacion,curp,estado,gpa,gpa_escala,fecha,lista_email,ESTADO,ABREVIATURA
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,AGUASCALIENTES,AS
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,BAJA CALIFORNIA,BC
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,BAJA CALIFORNIA SUR,BS
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,CAMPECHE,CC
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,CHIAPAS,CS
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,CHIHUAHUA,CH
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,COAHUILA,CL
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,COLIMA,CM
8,11030201.0,SUAREZ,SANCHEZ,ROCIO,F,QUERETARO,ossuarez@aol.com,NaN,SUSO911025MDFRNS02,DF,NaN,NaN,2024-05-31,"[ossuarez, aol.com]",DISTRITO FEDERAL,DF
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,DURANGO,DG
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,ESTADO DE MEXICO,MC
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,GUANAJUATO,GT
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,GUERRERO,GR
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,HIDALGO,HG
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,JALISCO,JC
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,MICHOACAN,MN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,MORELOS,MS
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NAYARIT,NT
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NUEVO LEON,NL
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,OAXACA,OC
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,PUEBLA,PL
21,11030188.0,MARTINEZ,RIVERA,JAVIER JOSUE,M,NaN,marka@aragon.mx,8.0,MARJ930622HQTRVV01,QT,3.123711,B,2024-01-31,"[marka, aragon.mx]",QUERETARO,QT
22,11030204.0,VAZQUEZ,GONZALEZ,ROBERTO,NaN,QUERETARO,rob_vaz03@aragon.mx,9.7,VAGR900708HQTRNS02,QT,4.000000,A,2024-07-31,"[rob_vaz03, aragon.mx]",QUERETARO,QT
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,QUINTANA ROO,QR
24,11030183.0,JIMENEZ,CARRILLO,RAMON HUMBERTO,F,GUADALAJARA,ramono555@himail.com,6.2,JICR920403HSPMRM07,SP,2.195876,C,2023-11-30,"[ramono555, himail.com]",SAN LUIS POTOSI,SP
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,SINALOA,SL
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,SONORA,SR
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,TABASCO,TC
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,TAMAULIPAS,TS
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,TLAXCALA,TL
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,VERACRUZ,VZ
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,YUCATAN,YN
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,ZACATECAS,ZS
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NACIDO EN EL EXTRANJERO,NE

In [65]:
#OUTER muestra todo lo de la izquierda (ALUMNOS) y todo lo de la derecha (ESTADOS) aunque no coincida la llave
pd.merge(df,df_estado,left_on='estado',right_on='ABREVIATURA',how='outer')

,clave_alu,ap_paterno,ap_materno,nombre,sexo,ciudad,email,calificacion,curp,estado,gpa,gpa_escala,fecha,lista_email,ESTADO,ABREVIATURA
0,11030172.0,BORBOLLA,RAMOS,ARGELIA,F,QUERETARO,argi_gogos@aragon.mx,5.0,NaN,NaN,1.577320,D,2023-01-31,"[argi_gogos, aragon.mx]",NaN,NaN
1,11030173.0,CASTRO,MANCERA,KARLA MARIANA,F,GUADALAJARA,NaN,8.7,NaN,NaN,3.484536,A,2023-03-31,,NaN,NaN
2,11030177.0,FERRUSCA,ANDRADE,OCTAVIO,M,QUERETARO,tavoferrus_11@aragon.mx,7.3,NaN,NaN,2.762887,B,2023-05-31,"[tavoferrus_11, aragon.mx]",NaN,NaN
3,11030178.0,GARCIA,GOMEZ,RAFAEL,M,QUERETARO,NaN,5.0,NaN,NaN,1.577320,D,2023-07-31,,NaN,NaN
4,11030199.0,ROSALES,APREZA,NESTOR MARTIN,M,QUERETARO,nestoriwh@hotmai.com,5.0,NaN,NaN,1.577320,D,2024-03-31,"[nestoriwh, hotmai.com]",NaN,NaN
5,14080003.0,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,5.0,NaN,NaN,1.577320,D,2025-01-31,,NaN,NaN
6,11030180.0,GUTIERREZ,FLORES,CARLOS DAVID,M,QUERETARO,chorok_skp91@aragon.mx,5.0,GUFC920124HPPTLR04,PP,1.577320,D,2023-09-30,"[chorok_skp91, aragon.mx]",NaN,NaN
7,11030183.0,JIMENEZ,CARRILLO,RAMON HUMBERTO,F,GUADALAJARA,ramono555@himail.com,6.2,JICR920403HSPMRM07,SP,2.195876,C,2023-11-30,"[ramono555, himail.com]",SAN LUIS POTOSI,SP
8,11030188.0,MARTINEZ,RIVERA,JAVIER JOSUE,M,NaN,marka@aragon.mx,8.0,MARJ930622HQTRVV01,QT,3.123711,B,2024-01-31,"[marka, aragon.mx]",QUERETARO,QT
9,11030204.0,VAZQUEZ,GONZALEZ,ROBERTO,NaN,QUERETARO,rob_vaz03@aragon.mx,9.7,VAGR900708HQTRNS02,QT,4.000000,A,2024-07-31,"[rob_vaz03, aragon.mx]",QUERETARO,QT
10,11030201.0,SUAREZ,SANCHEZ,ROCIO,F,QUERETARO,ossuarez@aol.com,NaN,SUSO911025MDFRNS02,DF,NaN,NaN,2024-05-31,"[ossuarez, aol.com]",DISTRITO FEDERAL,DF
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,AGUASCALIENTES,AS
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,BAJA CALIFORNIA,BC
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,BAJA CALIFORNIA SUR,BS
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,CAMPECHE,CC
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,CHIAPAS,CS
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,CHIHUAHUA,CH
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,COAHUILA,CL
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,COLIMA,CM
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,DURANGO,DG
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,ESTADO DE MEXICO,MC
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,GUANAJUATO,GT
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,GUERRERO,GR
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,HIDALGO,HG
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,JALISCO,JC
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,MICHOACAN,MN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,MORELOS,MS
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NAYARIT,NT
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NUEVO LEON,NL
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,OAXACA,OC
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,PUEBLA,PL
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,QUINTANA ROO,QR
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,SINALOA,SL
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,SONORA,SR
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,TABASCO,TC
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,TAMAULIPAS,TS
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,TLAXCALA,TL
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,VERACRUZ,VZ
38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,YUCATAN,YN
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,ZACATECAS,ZS
40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NACIDO EN EL EXTRANJERO,NE